#container {
  text-align: justify;

  padding-top: 80px;
  padding: 30px;
}
#reportbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  // padding-top: 30px;
  // padding-right: 30px;
  // padding-bottom: 50px;
  // padding-left: 110px;
}
ion-title{
  color: rgb(221, 9, 9);
  font-size: 30px;
}

